
@import "./styling/Menu.css";
@import "./styling/OpeningPage.css";
@import "./styling/Checkout.css";
@import "./styling/Circle.css";

body{

  background-color: #1b1b1b;
  margin: 0px;
  padding: 0px;
}

*{

  box-sizing: border-box;
}